<template>
  <div class="q-pa-md">
    <div class="q-gutter-y-md" style="width: 100%">
      <q-card>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
          @update:model-value="selectedPanel"
        >
          <q-tab name="app1" label="App1" />
          <q-tab name="app2" label="App2" />
        </q-tabs>
      </q-card>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import * as singleSpa from "single-spa";

export default {
  name: "App",
  // components: {
  //   HelloWorld
  // }
  data() {
    return {
      tab: "",
    };
  },  
  methods: {
    selectedPanel(p) {
      if (p === "app1") singleSpa.navigateToUrl("app1");
      else singleSpa.navigateToUrl("app2");
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
