<template>
  <div>
    <div>
      <div class="row">
        <div
          class="col-6"
          style="padding: 10px"
          v-for="record in records"
          :key="record.id"
        >
          <q-card flat bordered class="q-ma-md" style="height: 100%;margin:5px 15px">
            <q-card-section class="bg-grey-1">
              <b>Title:</b> {{ record.title }} <br />
            </q-card-section>
            <q-card-section class="bg-grey-1">
              <b>Body:</b> {{ record.body }} <br />
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      records: [],
    };
  },
  mounted() {
    fetch("https://jsonplaceholder.typicode.com/posts")
      .then((response) => response.json())
      .then((json) => (this.records = json));
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
